body
    background-color: #2E2E2E
    font-family: 'Roboto', sans-serif

.align
    text-align: center

.row
    color: white

.headings
    color: #75C5BD
    font-family: 'Raleway', sans-serif

.margintop
    margin-top: 40px

.marginbottom
    margin-bottom: 50px

.line
    border-left: solid
    border-width: 1px

.normal
    margin: 0px
    text-align: right

.rating
    margin: 0px
    color: #75C5BD
    font-size: 20px
    font-family: 'Orbitron', sans-serif
    text-align: left

.extra-margin
    margin-top: 5px

.work
    font-weight: 700

//small changes, making the line dissapear and center the star ratings
@media (max-width: 991px)

    .line
        border-left: none
        border-width: 0px

    .normal
        text-align: center

    .rating
        text-align: center
